<div class="modal fade" id="create_grp">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
<h4 class="modal-title" id="myModalLabel">创建组</h4>
</div>
<div class="modal-body">
<form class="form-horizontal" method="post"  id="create_form" >
<script src="/static/js/CreateUser_yz.js"></script>
  <div class="form-group">
      <label for="firstname"  class="col-sm-2 control-label">组名</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="create_grp" name="create_grp" 
       style="width:251px" placeholder="请输入组名" >
      </div> 
   </div>
   <div class="form-group">
      <label for="lastname"  class="col-sm-2 control-label">描述信息</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="create_grp_ms" name="create_grp_ms" 
            placeholder="请输入组信息描述" style="width:251px">
      </div>
    </div>
    <div class="form-group">
      <label for="firstname"  class="col-sm-2 control-label">包含用户</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="create_include_grp" name="create_include_grp" 
       style="width:251px" placeholder="请输入用户名" >
       <p></p>
        <label style="color:#F00">多用户请使用,分隔:user1,user2</label>
      </div> 
   </div>
<div class="modal-footer">
   <button type="submit" id="button"  class="btn btn-primary">保存</button>
  <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
</div>
</form>
</div>
</div>
</div>
</div>
